.labelStyle {
    padding-top: 10px;
    padding-bottom: 5px;
}

input, select {
    width: 50%;
    border-radius: 4px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

button {
    color: #fff;
    border-radius: 4px; 
    padding: 7px; 
    border:1px solid gray
}

.formStyle {
    background-color:#f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: 40px;
}

h4, h5, h6 {
    margin-block-start: 5px; 
    margin-block-end: 5px

}

